@import "../../sass/global.scss";

.editor {
  margin: 1rem 4rem;

  .ql-container {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background: $secondary-color;
  }

  .ql-snow {
    .ql-toolbar {
      display: block;
      background: $secondary-color;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }

  .ql-editor {
    min-height: 18em;
  }
}
